/* dashboard.css */
:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #04c44e;
  --secondary-light: #b80f5e;
  --primary-light: #04c44e;
  --accent-light: #04c44e;
  --border-light: #04c44e;
  --text-light: #000000;

  --input-light: #e3e4e6;
  --input-dark: #1a1a2e;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #df1584;
  --secondary-dark: #41b80a;
  --accent-dark: #41b80a;
  --border-dark: #41b80a;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light) !important;
  color: var(--foreground-light) !important;
  font-family: Arial, sans-serif !important;
}

.dark body {
  background-color: var(--background-dark) !important;
  color: var(--foreground-dark) !important;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10vh;
}

.spacer {
  height: 20vh;
}

.tokenDeployer,
.tokenFactory {
  max-width: 600px;
  width: calc(100% - 80px);
  padding: 40px;
  background-color: var(--background-light);
  border: 2px solid var(--border-light);
  border-radius: 15px;
  margin: 15px auto 100px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dark .tokenDeployer,
.dark .tokenFactory {
  background-color: var(--background-dark);
  border: 1px solid var(--border-dark);
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: var(--foreground-light);
  margin-bottom: 10px auto 20px;
  text-align: center;
}

.dark .title {
  color: var(--foreground-dark);
}

.subtitle {
  font-size: 1.2em;
  color: var(--secondary-light);
  margin-bottom: 20px;
}

.dark .subtitle {
  color: var(--secondary-dark);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.inputTitle {
  font-size: 1em;
  margin-bottom: 5px;
  color: var(--foreground-light);
  text-align: left;
  width: 100%;
}

.dark .inputTitle {
  color: var(--foreground-dark);
}

.inputDescription {
  margin-top: 5px;
  font-size: 0.8em;
  color: #818181;
}

.tokenInput {
  font-size: 1em;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
  background-color: var(--input-light);
  color: var(--foreground-light);
  border: 1px solid var(--border-light);
}

.dark .tokenInput {
  background-color: var(--input-dark);
  color: var(--foreground-dark);
  border: 1px solid var(--border-dark);
}

.data-table .table-header {
  color: var(--secondary-light);
  text-align: center;
  max-width: 100px;
}

.table-header {
  text-align: center;
  max-width: 100px;
  font-size: 3rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: small;
}

.data-table th,
.data-table td {
  text-align: center;
  border: 1px solid var(--border-light);
  padding: 8px;
}

.data-table th {
  background-color: var(--input-light);
  color: var(--text-light);
  text-align: center;
}

.data-table td {
  background-color: var(--background-light);
  color: var (var(--secondary-dark));
}

.dark .data-table th,
.dark .data-table td {
  border: 1px solid var(--border-dark);
}

.dark .data-table th {
  background-color: var(--input-dark);
  color: var (--text-dark);
}

.dark .data-table td {
  background-color: var(--background-dark);
  color: var (--text-dark);
  text-align: center;
}

.profiles-container {
  padding: 10px;
  justify-content: center;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

.error {
  color: #ff2828;
  margin: 2px 0px;
}

.errorSection {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
}

.dark .errorSection {
  background-color: var(--background-dark);
  border: 1px solid var(--border-dark);
}

.errorHeader {
  color: #f3f3f3;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
}

.errorText {
  color: #f1f0f0;
  overflow-wrap: break-word;
}

.errorCollapsed {
  width: 100%;
  cursor: pointer;
}

.errorDropdown {
  vertical-align: middle;
  float: right;
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(30%)
    contrast(90%);
}

#chain-select {
  width: 200px;
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid var(--border-light);
}

.dark #chain-select {
  background-color: var(--input-dark);
  color: var(--foreground-dark);
  border: 1px solid var(--border-dark);
}

.table-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

.token-table-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

.narrow-column {
  width: 100px;
}

.flex {
  justify-content: center;
  align-items: center;
}

.token-name-link {
  color: var(--primary-light);
  text-decoration: underline;
  cursor: pointer;
}

.token-name-link:hover {
  color: var(--secondary-light);
}

.dark .token-name-link {
  color: var(--primary-dark);
}

.dark .token-name-link:hover {
  color: var(--secondary-dark);
}

.profiles-table {
  width: 700px;
  border-collapse: collapse;
}

.profiles-table td {
  border: 1px solid var(--border-light);
  padding: 10px;
  text-align: left;
}

.profiles-table th {
  border: 1px solid var(--border-light);
  padding: 10px;
  text-align: center;
}

.dark .profiles-table th,
.dark .profiles-table td {
  border: 1px solid var(--border-dark);
}

.profiles-table th {
  background-color: var(--input-light);
  color: var(--text-light);
}

.dark .profiles-table th {
  background-color: var(--input-dark);
  color: var(--text-dark);
}

.profiles-table tr:nth-child(even) {
  background-color: var(--background-light);
}

.dark .profiles-table tr:nth-child(even) {
  background-color: var(--background-dark);
}

.profiles-table tr:hover {
  background-color: var(--accent-light);
}

.dark .profiles-table tr:hover {
  background-color: var(--accent-dark);
}

.profiles-table a {
  color: var(--primary-light);
  text-decoration: none;
}

.dark .profiles-table a {
  color: var(--primary-dark);
}

.profiles-table a:hover {
  color: var(--secondary-light);
}

.dark .profiles-table a:hover {
  color: var(--input-dark);
}

.profile-count {
  text-align: center;
  color: var(--foreground-light);
}

.dark .profile-count {
  color: var(--foreground-dark);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    text-align: center;
  }

  .profile-count {
    text-align: center;
    font-size: 16px;
  }

  .profiles-container {
    padding: 0 10px;
  }

  .profiles-container h2 {
    font-size: 20px;
    text-align: center;
  }

  .profiles-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }

  .profiles-table thead {
    display: none;
  }

  .profiles-table,
  .profiles-table tbody,
  .profiles-table tr,
  .profiles-table td {
    display: block;
    width: 100%;
  }

  .profiles-table tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .profiles-table td {
    text-align: right;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #eee;
  }

  .profiles-table td:last-child {
    border-bottom: none;
  }

  .profiles-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .profiles-table td:nth-of-type(1):before {
    content: "Handle";
  }
  .profiles-table td:nth-of-type(2):before {
    content: "Name";
  }
  .profiles-table td:nth-of-type(3):before {
    content: "Avatar";
  }

  .profiles-table img {
    display: block;
    margin: 0 0 0 auto;
  }
}
