.root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #04c44e; /* Pink */
  --secondary-light: #b80f5e; /* Green */
  --primary-light: #04c44e; /* Pink */
  --accent-light: #04c44e; /* Dark Green */
  --border-light: #04c44e;
  --text-light: #000000;

  --input-light: #e3e4e6;
  --input-dark: #1a1a2e;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #df1584; /* Pink */
  --secondary-dark: #41b80a; /* Green */
  --accent-dark: #41b80a; /* Dark Green */
  --border-dark: #41b80a;
  --text-dark: #ffffff;
}

.body {
  background-color: var(--background-light) !important;
  color: var(--foreground-light) !important;
  font-family: Arial, sans-serif !important;
}

.dark body {
  background-color: var(--background-dark) !important;
  color: var(--foreground-dark) !important;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--background);
  color: var(--foreground);
}

.dark .pageContainer {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary-light);
}

.dark .title {
  color: var(--primary-foreground);
}

.description {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.dark .imageContainer {
  background-color: var(--input-dark);
  border: 1px solid var(--border-dark);
}

.counter {
  margin-bottom: 20px;
  font-size: 1.2em;
}
