.navbar {
  padding: 0 15px;
  position: relative;
  display: block;
  top: 0;
  width: calc(100% - 30px);
  z-index: 11;
  color: rgb(102, 102, 102);
  height: 48.333px;
}

.navbarLi {
  font-size: 18px;
  line-height: 26.67px;
  margin: 10px 15px;
  display: inline-flex;
  align-items: center;
  height: 26.67px;
}

.navbarOption {
  font-size: 18px;
  line-height: 26.67px;
  margin: 10px 5px;
}

.navLogo {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px;
  transform: scale(1.5);
}

.active {
  display: inline-block;
  cursor: pointer;
}

.menu {
  display: none;
}

.menu {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #f5f5f5;
  z-index: 10;
  overflow: hidden;
  padding-top: calc(40px + 1.9em);
  transition: transform 0.6s ease-in-out;
  top: 0;
}

.navElement {
  margin: 20px;
}

.menuOpen {
  transform: translateX(0);
}

.menuClosed {
  transform: translateX(-100%);
}

.connectButton {
  background-color: var(--accent);
  border: none;
  color: white;
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
}

.connectButtonWhite {
  border: none;
  color: rgb(75, 75, 75);
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;
}

.connectText {
  display: inline;
  margin: none;
  padding: 0 5px;
  vertical-align: top;
  margin: 0;
}

.dropdownIcon {
  vertical-align: middle;
  margin-right: 0px;
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(50%)
    contrast(90%);
}

.connectButtonContainer {
  float: right;
  position: relative;
}

.navbarOptionsContainer {
  float: center;
  display: flex;
  align-items: center;
}

.chainIcon {
  border-radius: 100px;
  vertical-align: middle;
}

.chainLogo {
  border-radius: 100px;
  vertical-align: middle;
  justify-content: center;
  display: inline-block;
  margin-right: 5px;
}

.dropdownLeft {
  display: block;
  position: absolute;
  top: 55px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
  max-width: 190px;
  width: 100%;
  color: black;
  float: center;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown {
  right: 0;
  position: absolute;
  top: 55px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
  min-width: 175px;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.identicon {
  vertical-align: center;
  display: inline-block;
}
.dropdownOption {
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
}

.dropdownOption:last-child {
  border: none;
}

.profile {
  display: inline-block;
}

.walletIconImage {
  margin: auto auto;
  margin-left: calc((26.67px) / 2 - 7.5px);
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(99%)
    contrast(90%);
}

.connectMenuOpen {
  display: block;
}

.connectMenuClosed {
  display: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownNew {
  position: relative;
  float: right;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 55px;
}

.dropdownNew:hover .dropdownContent {
  display: block;
}

.dropdownNew:hover .dropbtn {
  background-color: #3e8e41;
}
.toShow {
  display: none;
}

@media screen and (max-width: 620px) {
  .toHide {
    display: none;
  }
  .toShow {
    display: block;
  }
}
