.container {
  height: auto;
}

.nav {
  position: relative;
  height: auto;
  margin-bottom: 10px;
}

.navbar {
  padding: 5px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 11;
  height: auto;
  margin-top: 0;
}

.navbarContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarLi {
  font-size: 18px;
  line-height: 26.67px;
  margin: 5px 15px;
  display: inline-flex;
  align-items: center;
  height: 26.67px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbarLi:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 2px #ff1493, 0 0 1em #3b9d59, 0 0 0.2em #3e8e41;
}

.connectButton {
  background-color: #4bb76a;
  border: 2px solid #ff1493;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px,
    inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, border-color 0.3s ease;
  color: black;
  position: relative;
  backdrop-filter: blur(5px);
}

.connectButton::before {
  content: "Connect";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.connectButton:hover {
  background-color: #3b9d59;
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px rgba(255, 20, 147, 0.6),
    inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: #ff69b4;
}

.connectButtonWhite {
  border: none;
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;
}

.connectText {
  display: inline;
  padding: 25px 40px;
  vertical-align: top;
  margin: 0;
}

.dropdownIcon {
  vertical-align: middle;
  margin-right: 0px;
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(50%)
    contrast(90%);
}

.connectButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  width: 300px;
  padding: 10px 10px;
}

.connectButtonContainerMobile {
  display: flex;
  justify-content: center;
  width: 100%;
}

.networkOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  max-width: 90%;
  margin-left: 3rem;
}

.networkOption {
  font-size: 12px;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-light);
  border: 1px solid var(--border-light);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.networkOption:hover {
  background-color: var(--secondary-light);
  transform: scale(1.05);
}

.chainLogo {
  border-radius: 50%;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.chainName {
  font-size: 12px;
  color: var(--foreground-light);
}

.active {
  background-color: var(--primary-light);
  color: white;
}

.toShow {
  display: none;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(5px);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  text-align: center;
  background-color: var(--background-light);
}

@media screen and (max-width: 768px) {
  .toHide {
    display: none;
  }
  .toShow {
    display: block;
  }
  .navbar {
    padding: 0;
  }
  .navbarLi {
    font-size: 14px;
    line-height: 20px;
    margin: 5px 10px;
    height: auto;
  }

  .navbarContent {
    flex-direction: column;
    align-items: center;
  }

  .networkOptionsContainer {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .connectButtonContainer {
    justify-content: center;
  }

  .connectButtonContainerMobile {
    margin-top: 10px;
  }

  .networkOption {
    font-size: 10px;
    padding: 3px;
  }
  .chainLogo {
    height: 16px;
    width: 16px;
    margin-right: 3px;
  }
  .chainName {
    font-size: 10px;
  }
}
