:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #04c44e;
  --secondary-light: #b80f5e;
  --accent-light: #04c44e;
  --border-light: #04c44e;
  --text-light: #000000;
  --input-light: #e3e4e6;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #df1584;
  --secondary-dark: #41b80a;
  --accent-dark: #41b80a;
  --border-dark: #41b80a;
  --text-dark: #ffffff;
  --input-dark: #1a1a2e;
}

body {
  background-color: var(--background-light);
  color: var(--foreground-light);
  font-family: Arial, sans-serif;
}

.dark body {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

.swap-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

.swap-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-light);
  border: 4px solid var(--border-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark .swap-container {
  background-color: var(--background-dark);
  border-color: var(--border-dark);
}

.page-title {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-light);
  margin-bottom: 20px;
}

.dark .page-title {
  color: var(--primary-dark);
}

.token-section {
  border: 1px solid var(--border-light);
  border-radius: 5px;
  padding: 10px;
}

.dark .token-section {
  border-color: var(--border-dark);
}

.token-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.token-amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input-field,
.input-field-with-price {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-light);
  color: var(--foreground-light);
}

.dark .input-field,
.dark .input-field-with-price {
  background-color: var(--input-dark);
  color: var(--foreground-dark);
}

.swap-summary {
  text-align: left;

  margin-top: 10px;
}

.swap-summary p {
  margin: 5px 0;
  color: var(--secondary-light);
  font-size: small;
}

.dark .swap-summary p {
  color: var(--secondary-dark);
}

.swap-button {
  width: 50%;
  padding: 10px 20px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
  color: var(--text-light);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 25px;
  align-self: center;
}

.dark .swap-button {
  background-color: var(--primary-dark);
  color: var(--text-dark);
}

.swap-button:hover {
  background-color: var(--secondary-light);
}

.dark .swap-button:hover {
  background-color: var(--secondary-dark);
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.swap-card {
  display: flex;
  flex-direction: column;
}
