.root {
  --background-light-fb: #ffffff;
  --foreground-light-fb: #000000;
  --primary-light-fb: #04c44e;
  --secondary-light-fb: #b80f5e;
  --accent-light-fb: #04c44e;
  --border-light-fb: #04c44e;
  --text-light-fb: #000000;

  --background-dark-fb: #000000;
  --foreground-dark-fb: #ffffff;
  --primary-dark-fb: #df1584;
  --secondary-dark-fb: #41b80a;
  --accent-dark-fb: #41b80a;
  --border-dark-fb: #41b80a;
  --text-dark-fb: #ffffff;
}

.connectionOptions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 400px;
  width: calc(100% - 40px);
  z-index: 13;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.1);
}

.connectionOption {
  padding: 10px;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
  font-size: 1.3em;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(50, 50, 50);
  outline: none;
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}

.connectionOption:hover {
  background-color: #f0f0f0;
}

.connectionOption:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.connectionHeading {
  color: rgb(50, 50, 50);
  font-size: 1.6em;
  margin: 0;
  padding: 0 10px;
}

.connectionDesc {
  padding: 0 10px;
  color: rgb(50, 50, 50);
  margin-top: 10px;
}

.walletLogo {
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 5px;
  float: right;
}

.uninstalled {
  cursor: default;
}

.connector {
  float: left;
  margin: 0;
  vertical-align: middle;
  margin-top: 5px;
}
