:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #04c44e; /* Pink */
  --secondary-light: #b80f5e; /* Green */
  --primary-light: #04c44e; /* Pink */
  --accent-light: #04c44e; /* Dark Green */
  --border-light: #04c44e;
  --text-light: #000000;

  --input-light: #e3e4e6;
  --input-dark: #1a1a2e;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #df1584; /* Pink */
  --secondary-dark: #41b80a; /* Green */
  --accent-dark: #41b80a; /* Dark Green */
  --border-dark: #41b80a;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light) !important;
  color: var(--foreground-light) !important;
  font-family: Arial, sans-serif !important;
}

.dark body {
  background-color: var(--background-dark) !important;
  color: var(--foreground-dark) !important;
}

.dashboard {
  padding: 20px !important;
  max-width: 100% !important;
  margin: 0 auto !important;
  text-align: center !important;
  background-color: var(--background-light) !important;
}

.dark .dashboard {
  background-color: var(--background-dark) !important;
}

.myTokensHeading {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-header {
  background-color: var(--background-light);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.dark .dashboard-header {
  background-color: var(--background-dark);
}

.pagetitle {
  font-size: 2rem;
  color: var(--primary-light);
  margin-bottom: 1rem;
}

.subheading {
  color: var(--foreground-light) !important;
}

.dark .subheading {
  color: var(--foreground-dark) !important;
}

.meme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add space between cards */
  justify-content: space-between; /* Ensure cards are evenly spaced */
  max-width: 100%;
}

.meme {
  width: calc(33% - 20px); /* Adjust the width to fit three per row with gap */
  margin-bottom: 20px !important;
  padding: 15px !important; /* Add padding inside the container */
  border: 1px solid var(--primary-light) !important;
  border-radius: 8px !important; /* Slightly rounded corners */
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  transition: transform 0.2s; /* Smooth transition for scaling */
}

.meme:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

.dark .meme {
  border: 1px solid var(--primary-dark) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.meme-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  color: var(--primary-dark);
}

.meme-header h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 1.2rem; /* Adjusted font size */
}

.meme-header .token-logo {
  width: 40px;
  height: 40px;
}

.meme-details {
  text-align: left;
  font-size: 0.9rem; /* Reduced font size */
  width: 100%;
}

.meme-details p {
  color: var(--foreground-light) !important;
  margin: 1px 0px;
}

.meme-details p strong {
  display: inline-block;
  width: 180px;
  color: var(--secondary-dark);
}

.dark .meme-details p {
  color: var(--foreground-dark) !important;
}

.token-logo {
  margin-left: 10px;
}

.buy-token-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px 0 10px 0;
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.buy-token-button:hover {
  background-color: #00ff00;
  color: #000;
}

.buy-token-button:disabled {
  background-color: #555;
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.token-swap {
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .dashboard {
    max-width: 100% !important;
  }

  .pagetitle {
    font-size: 1.5rem !important;
  }

  .meme {
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: 10px 5px !important;
  }

  .meme-details {
    font-size: 0.8rem !important;
  }

  .sectionTitle {
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary-light);
    margin-bottom: 10px;
    margin-top: 1rem;
  }
}

.filter-dropdown {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px 0;
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  appearance: none; /* Remove default dropdown arrow */
}

.filter-dropdown:hover {
  background-color: #00ff00;
  color: #000;
}

.sectionTitle {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-light);
  margin-bottom: 20px;
  margin-top: 2rem;
}

.stages-container {
  margin-top: 20px;
  color: var(--primary-light);
}

.stage {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.stagetext p {
  color: var(--primary-light) !important;
}

/* Dark mode styles */
body.dark-mode .stages-container {
  color: var(--primary-dark);
}

body.dark-mode .stage {
  background-color: var(--primary-dark);
  color: var(--primary-dark);
}

.amount-container,
.amount-containerTo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  width: 100%;
}

.reverse-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.reverse-button {
  background-color: var(--primary-light);
  border: none;
  border-radius: 50%;
  color: var(--text-light);
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.dark .filter-section {
  background-color: var(--background-dark);
}

.filter-title {
  font-size: 1.2rem;
  color: var(--primary-light);
  margin-bottom: 0.5rem;
}

.dark .filter-title {
  color: var(--primary-light);
}

.blockchain-selection,
.token-type-selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blockchain-dropdown {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid var(--primary-light);
  border-radius: 20px;
  background-color: var(--input-light);
  color: var(--foreground-light);
  cursor: pointer;
}

.dark .blockchain-dropdown {
  border-color: var(--primary-dark);
  background-color: var(--input-dark);
  color: var(--foreground-dark);
}

.token-type-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.token-type-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: 2px solid var(--primary-light);
  border-radius: 20px;
  background-color: var(--background-light);
  color: var(--primary-light);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark .token-type-button {
  border-color: var(--primary-dark);
  background-color: var(--background-dark);
  color: var(--primary-dark);
}

.token-type-button:hover,
.token-type-button.active {
  background-color: var(--primary-light);
  color: var(--background-light);
}

@media (max-width: 768px) {
  .filter-row {
    flex-direction: column;
  }

  .blockchain-selection,
  .token-type-selection {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .blockchain-dropdown {
    width: 100%;
  }

  .token-type-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}

.token-type-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: 2px solid var(--primary-light);
  border-radius: 20px;
  background-color: var(--input-light); /* Updated for dropdown */
  color: var(--primary-light);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark .token-type-button {
  border-color: var(--primary-dark);
  background-color: var(--input-dark); /* Updated for dropdown */
  color: var(--primary-dark);
}

.token-type-button:hover,
.token-type-button.active {
  background-color: var(--primary-light);
  color: var(--background-light);
}

.dark .token-type-button:hover,
.dark .token-type-button.active {
  background-color: var(--primary-dark);
  color: var(--background-dark);
}

.token-type-button select {
  background-color: var(
    --input-light
  ); /* Add dark theme background for dropdown */
  color: var(--foreground-light);
}

.dark .token-type-button select {
  background-color: var(
    --input-dark
  ); /* Add dark theme background for dropdown */
  color: var(--foreground-dark);
}
