:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #d11673; /* Pink */
  --secondary-light: #00ff00; /* Green */
  --accent-light: #006400; /* Dark Green */
  --border-light: #ff69b4;
  --text-light: #000000;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #c9146e; /* Pink */
  --secondary-dark: #1bb61b; /* Green */
  --accent-dark: #006400; /* Dark Green */
  --border-dark: #d81376;
  --text-dark: #ffffff;
}

body {
  background-color: var(
    --background-light
  ) !important; /* Use light theme background color */
  color: var(--foreground-light) !important; /* Use light theme text color */
  font-family: Arial, sans-serif !important;
}

.dark body {
  background-color: var(
    --background-dark
  ) !important; /* Use dark theme background color */
  color: var(--foreground-dark) !important; /* Use dark theme text color */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(
    --background-light
  ) !important; /* Use light theme background color */
}

.pagetitle {
  font-size: 2rem;
}

.dark .container {
  background-color: var(
    --background-dark
  ) !important; /* Use dark theme background color */
}

.header-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(
    --background-light
  ) !important; /* Use light theme background color */
}

.dark .header-container {
  background-color: var(
    --background-dark
  ) !important; /* Use dark theme background color */
}

.header-container a,
.header-container p {
  color: var(--foreground-light) !important; /* Use light theme text color */
}

.dark .header-container a,
.dark .header-container p {
  color: var(--foreground-dark) !important; /* Use dark theme text color */
}

.main-nav {
  display: flex !important;
  justify-content: space-between !important;
  flex: 1 !important;
}

.nav-item {
  color: var(--foreground-light) !important;
  text-decoration: none !important;
  padding: 10px 20px !important;
}

.dark .nav-item {
  color: var(--foreground-dark) !important;
}

.nav-item:hover {
  background-color: var(--primary-light) !important;
  color: var(
    --background-light
  ) !important; /* Use light theme background color */
}

.dark .nav-item:hover {
  background-color: var(--primary-dark) !important;
  color: var(
    --background-dark
  ) !important; /* Use dark theme background color */
}

.dashboard {
  padding: 20px !important;
  max-width: 800px !important;
  margin: 0 auto !important;
  text-align: center !important;
  background-color: var(
    --background-light
  ) !important; /* Use light theme background color */
}

.dark .dashboard {
  background-color: var(
    --background-dark
  ) !important; /* Use dark theme background color */
}

.dashboard section {
  margin-bottom: 40px !important;
  padding: 20px !important;
  border: 2px solid var(--border-light) !important; /* Use light theme border color */
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.dark .dashboard section {
  border: 2px solid var(--border-dark) !important; /* Use dark theme border color */
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.dashboard h1 {
  margin-bottom: 20px !important;
  color: var(--primary-light) !important; /* Use light theme primary color */
}

.dark .dashboard h1 {
  color: var(--primary-dark) !important; /* Use dark theme primary color */
}

.dashboard h3 {
  margin-bottom: 10px !important;
  color: var(
    --secondary-light
  ) !important; /* Use light theme secondary color */
}

.dark .dashboard h3 {
  color: var(--secondary-dark) !important; /* Use dark theme secondary color */
}

.dashboard ul {
  list-style: none !important;
  padding: 0 !important;
}

.dashboard li {
  margin-bottom: 10px !important;
}

.meme {
  margin-bottom: 20px !important;
  padding: 10px !important;
  border: 1px solid var(--primary-light) !important;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important; /* Center align all items */
}

.dark .meme {
  border: 1px solid var(--primary-dark) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.meme-header {
  display: flex;
  justify-content: center; /* Center the title and image horizontally */
  align-items: center; /* Center items vertically */
  width: 100%;
  padding: 0; /* Remove padding to reduce space */
}

.meme-header h3 {
  margin: 0; /* Remove margin from the title */
  margin-right: 10px; /* Adjust margin to bring the title closer to the image */
  font-size: 1.5rem; /* Adjust font size if needed */
}

.meme-header .meme-image {
  width: 120px; /* Ensure the image size is as intended */
  height: 120px;
}

.meme-title {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between;
  width: 100%;
}

.meme p {
  color: var(--foreground-light) !important; /* Use light theme text color */
}

.dark .meme p {
  color: var(--foreground-dark) !important; /* Use dark theme text color */
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row !important;
  }

  .main-nav {
    display: flex !important;
    justify-content: space-between !important;
    flex: 1 !important;
  }

  .nav-item {
    flex: 1 !important;
    text-align: center !important;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  position: relative;
}

.tabs button {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.tabs button.active {
  font-weight: bold;
}

.tabs button.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 80%;
  background: #000; /* Adjust color as needed */
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tabs .tab-indicator {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; /* Adjust color as needed */
  transform: translateX(-50%);
}

.content {
  padding: 20px;
  border-top: 3px solid #000; /* Adjust color as needed */
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  width: 2px;
  height: 20px;
  background: #000; /* Adjust color as needed */
  transform: translateX(-50%);
}

.tab-indicator::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 2px;
  height: 10px;
  background: #000; /* Adjust color as needed */
  transform: translateX(-50%);
}

.content.connected::before {
  height: 30px; /* Adjust the height to create the connection */
  top: -20px;
}

.meme-details {
  text-align: left;
}

.meme-details p {
  margin: 5px 0;
}

.meme-details p strong {
  display: inline-block;
  width: 180px; /* Adjust width as needed */
  color: var(--secondary-dark); /* Adjust color as needed */
}

.meme-header {
  display: flex;
  align-items: center;
}

.token-logo {
  margin-left: 10px;
}
