:root {
  --background-light-fb: #ffffff;
  --foreground-light-fb: #000000;
  --primary-light-fb: #04c44e;
  --secondary-light-fb: #b80f5e;
  --accent-light-fb: #04c44e;
  --border-light-fb: #04c44e;
  --text-light-fb: #000000;

  --background-dark-fb: #000000;
  --foreground-dark-fb: #ffffff;
  --primary-dark-fb: #df1584;
  --secondary-dark-fb: #41b80a;
  --accent-dark-fb: #41b80a;
  --border-dark-fb: #41b80a;
  --text-dark-fb: #ffffff;
}

body.feedbackBody {
  background-color: var(--background-light-fb);
  color: var(--foreground-light-fb);
  font-family: "Courier New", Courier, monospace;
}

.dark body.feedbackBody {
  background-color: var(--background-dark-fb);
  color: var(--foreground-dark-fb);
}

.feedbackContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.feedbackSection {
  flex: 1 1 30%;
  padding: 20px;
  border: 1px solid var(--border-light-fb);
  margin-bottom: 1rem;
}

.dark .feedbackSection {
  border: 1px solid var(--border-dark-fb);
}

.feedbackLeft {
  background-color: #f4f4f4;
}

.dark .feedbackLeft {
  background-color: #333;
}

.feedbackRight {
  background-color: #eaeaea;
}

.dark .feedbackRight {
  background-color: #444;
}

.feedbackTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-light-fb);
}

.dark .feedbackTitle {
  color: var(--primary-dark-fb);
}

.feedbackInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-light-fb);
  background-color: var(--background-light-fb);
  color: var(--text-light-fb);
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

.dark .feedbackInput {
  border: 1px solid var(--border-dark-fb);
  background-color: var(--background-dark-fb);
  color: var(--text-dark-fb);
}

.feedbackButton {
  padding: 10px 20px;
  background-color: var(--primary-light-fb);
  color: var(--text-light-fb);
  border: none;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1rem;
}

.dark .feedbackButton {
  background-color: var(--primary-dark-fb);
  color: var(--text-dark-fb);
}

.feedbackButton:hover {
  background-color: var(--secondary-light-fb);
}

.dark .feedbackButton:hover {
  background-color: var(--secondary-dark-fb);
}

.feedbackUl {
  list-style-type: none;
  padding: 0;
}

.feedbackLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-light-fb);
}

.dark .feedbackLi {
  border-bottom: 1px solid var(--border-dark-fb);
}

.feedbackLi span {
  flex: 1;
}

.feedbackLi div {
  display: flex;
  align-items: center;
}

.feedbackLi div button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 18px;
}

.feedbackWallet {
  margin-left: 10px;
  font-size: 0.8rem;
}

.feedbackStatus {
  font-size: 0.8rem;
  margin-left: 10px;
}

.feedbackStatus.pending {
  color: orange;
}

.feedbackStatus.approved {
  color: green;
}

.checklistItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid var(--border-light-fb);
}

.dark .checklistItem {
  border-bottom: 1px solid var(--border-dark-fb);
}

.checklistItem span {
  flex: 1;
}

.checklistItem .buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.checklistItem .buttonContainer button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--primary-light-fb);
  color: var(--text-light-fb);
  border: none;
  cursor: pointer;
}

.dark .checklistItem .buttonContainer button {
  background-color: var(--primary-dark-fb);
  color: var(--text-dark-fb);
}

@media (max-width: 768px) {
  .feedbackContainer {
    flex-direction: column;
  }

  .feedbackSection {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .feedbackLi {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
  }

  .feedbackLi div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .feedbackLi span {
    width: 100%;
  }

  .feedbackWallet,
  .feedbackStatus {
    margin-top: 5px;
    width: 100%;
  }

  .feedbackInputContainer {
    width: 100%;
  }

  .feedbackInput {
    width: 100%;
  }

  .checklistItem {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .checklistItem .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .checklistItem button {
    width: 48%;
    margin: 5px 0;
  }

  .feedbackUl {
    padding: 0;
    width: 100%;
  }

  .feedbackLi div button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .feedbackTitle {
    width: 100%;
    text-align: center;
  }

  .feedbackRight .feedbackButton {
    width: 100%;
    margin-top: 10px;
  }

  .feedbackRight input.feedbackInput {
    margin-top: 10px;
  }

  .feedbackRight .resetButton {
    margin-top: 10px;
  }

  /* Center contents of feedbackRight section */
  .feedbackRight {
    align-items: center;
    text-align: center;
  }

  .feedbackRight ul {
    padding-left: 0;
  }

  .feedbackRight .feedbackLi {
    align-items: center;
    text-align: center;
  }

  .feedbackRight .feedbackLi div {
    justify-content: center;
  }

  .feedbackRight .feedbackLi a {
    text-align: center;
  }

  .blogLink {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-light);
    margin-top: 2.5rem;
    width: 100%;
    margin: 0 auto;
  }
}

.blogLink {
  text-align: center;
  font-size: 1.3rem;
  color: var(--primary-light);
  margin-top: 3rem;
}

.underline-link {
  text-decoration: underline;
}

/* New styles for feedback submit buttons */
.feedbackInputContainer .feedbackButton {
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 0;
  margin-left: 10px;
}

/* New styles for reset button */
.resetButton {
  background-color: var(--secondary-light-fb);
  color: var(--text-light-fb);
  border: none;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  padding: 10px 20px;
  margin-top: 20px;
  justify-content: center;
}

.dark .resetButton {
  background-color: var(--secondary-dark-fb);
  color: var(--text-dark-fb);
}

.resetButton:hover {
  background-color: var(--primary-light-fb);
}

.dark .resetButton:hover {
  background-color: var(--primary-dark-fb);
}

.resetButton {
  display: none;
}
