:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary-light: #04c44e;
  --secondary-light: #b80f5e;
  --accent-light: #04c44e;
  --border-light: #04c44e;
  --text-light: #000000;
  --primary-dark-transparent: rgba(223, 21, 132, 0.3);
  --input-light: #e3e4e6;
  --input-dark: #1a1a2e;

  --background-dark: #000000;
  --foreground-dark: #ffffff;
  --primary-dark: #df1584;
  --secondary-dark: #41b80a;
  --accent-dark: #41b80a;
  --border-dark: #41b80a;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light) !important;
  color: var(--foreground-light) !important;
  font-family: Arial, sans-serif !important;
}

.dark body {
  background-color: var(--background-dark) !important;
  color: var(--foreground-dark) !important;
}

.dashboard {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  background-color: #000; /* Dark background when disconnected */
  transition: background-color 0.3s;
}

.dark .dashboard {
  background-color: var(--background-dark) !important;
}

.myTokensHeading {
  text-align: center;
  margin-bottom: 20px;
}

.token-swap-container {
  width: 90%;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.mini-swap-container {
  width: 90%;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.token-swap-inner {
  width: 100%;
  height: auto;
  transform: scale(0.75);
  transform-origin: center;
}

.pagetitle {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(4, 196, 78, 0.2);
  margin-bottom: 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.dashboard.active .pagetitle {
  color: rgb(4, 196, 78);
  text-shadow: 0 0 10px rgba(4, 196, 78, 0.5);
}

.subheading {
  color: var(--foreground-light) !important;
}

.dark .subheading {
  color: var(--foreground-dark) !important;
}

.token-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: var(--background-light) !important;
}

.dark .token-container {
  background-color: var(--background-dark) !important;
}

.meme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 100%;
}

.meme {
  width: calc(33% - 20px);
  margin-bottom: 20px !important;
  padding: 15px !important;
  border: 1px solid var(--primary-light) !important;
  border-radius: 25px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.meme:hover {
  transform: scale(1.05);
}

.dark .meme {
  border: 1px solid var(--primary-dark) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.meme-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  color: var(--primary-dark);
}

.meme-header h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 1.2rem;
}

.meme-header .token-logo {
  width: 40px;
  height: 40px;
}

.meme-details {
  text-align: left;
  font-size: 0.9rem;
  width: 100%;
}

.stage-title {
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--secondary-dark);
}

.stage-title p {
  color: var(--foreground-light) !important;
  margin: 1px 0px;
}

.meme-details p {
  color: var(--foreground-light) !important;
  margin: 1px 0px;
}

.stage-title p strong {
  display: inline-block;
  width: 180px;
  color: var(--secondary-dark);
}

.dark .stage-title p {
  color: var(--foreground-dark) !important;
}

.secondary-dark-color {
  color: var(--secondary-dark);
}

.meme-details p strong {
  display: inline-block;
  width: 180px;
  color: var(--secondary-dark);
}

.dark .meme-details p {
  color: var(--foreground-dark) !important;
}

.token-logo {
  margin-left: 10px;
}

.buy-token-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px auto; /* Change this line */
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.buy-token-button:hover {
  background-color: #00ff00;
  color: #000;
}

.buy-token-button:disabled {
  background-color: #555;
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.token-swap {
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard {
    max-width: 100% !important;
  }

  .meme {
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: 10px 5px !important;
  }

  .meme-header h3 {
    font-size: 1rem !important;
  }

  .meme-details {
    font-size: 0.8rem !important;
  }

  .buy-token-button,
  .close-modal-button {
    padding: 5px 10px !important;
    font-size: 0.8rem !important;
  }

  .modal-content {
    padding: 10px !important;
    max-height: 90% !important;
    width: 90% !important;
  }

  .token-swap-container {
    width: 100% !important;
    padding: 10px;
  }

  .token-swap-inner {
    transform: scale(1);
  }
  .sectionTitle {
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary-light);
    margin-bottom: 10px;
    margin-top: 1rem;
  }
}

.filter-dropdown {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px 0;
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  appearance: none;
}

.filter-dropdown:hover {
  background-color: #00ff00;
  color: #000;
}

.sectionTitle {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-dark);
  margin-bottom: 20px;
  margin-top: 2rem;
}

.stages-container {
  border-color: var(--primary-dark);
  max-width: 400px;
  margin: 0 auto;
}

.stage {
  border: 1px solid var(--primary-dark); /* Set the border color */
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: transparent; /* Make the background transparent */
  box-shadow: 0 0 15px var(--primary-dark); /* Add a glowing effect */
  transition: all 0.3s ease;
}

.dark .stage {
  border: 1px solid var(--primary-dark); /* Set the border color */
  background-color: transparent; /* Make the background transparent */
  color: var(--primary-dark);
  box-shadow: 0 0 15px var(--primary-dark); /* Add a glowing effect */
}

.stage-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.stage-detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stage-detail-item p {
  margin: 0;
}

.stage-header {
  display: flex;
  justify-content: space-between;
}

.stage-info {
  display: flex;
  flex-direction: column;
}

.stage .progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  height: 10px;
}

.stage .progress {
  height: 100%;
  background-color: #4caf50;
}

.stage-actions {
  display: flex;
  flex-direction: inline;
}

.stage-actions label {
  display: block;
  margin-bottom: 10px;
}
a .stage-actions input {
  border: 1px solid var(--border-light);
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 50%;
}

.stage-actions button {
  background-color: var(--primary-dark);
  color: var(--text-light);
  border: none;
  padding: 1px;
  border-radius: 25px;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0 10px 5px auto;
  max-width: 100%;
  margin: 0 auto;
}

.stage-actions button:hover {
  background-color: var(--secondary-dark);
}

.stagetext p {
  color: var(--primary-dark) !important;
}

.swap-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
}

.swap-section {
  margin-bottom: 20px;
}

.swap-section p {
  margin: 0 0 10px 0;
}

.swap-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  background-color: #000; /* Dark background when disconnected */
  transition: background-color 0.3s;
}

.dashboard.active {
  background-color: #111; /* Slightly lighter background when connected */
}

.dashboard-sections {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #333;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 10px 0;
  overflow-x: auto;
}
.dashboard-section {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #222;
  color: #aaa;
  border: 2px solid var(--primary-dark-transparent);
  transition: all 0.3s ease, border-color 0.3s ease;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;
  opacity: 0.7;
  box-shadow: 0 0 5px rgba(223, 21, 132, 0.2);
}

.dashboard-section.selected,
.dashboard.active .dashboard-section:hover,
.dashboard.active .dashboard-section.selected {
  background-color: var(--primary-dark);
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 15px rgba(223, 21, 132, 0.8);
}

.section-content {
  width: 100%;
  padding: 20px;
  color: #888;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.dashboard.active .section-content {
  color: #fff;
}

.dashboard.active .dashboard-section {
  background-color: #333;
  opacity: 1;
  border-color: var(--primary-dark);
  box-shadow: 0 0 10px rgba(223, 21, 132, 0.5);
}

.dashboard.active .dashboard-section.selected {
  background-color: var(--primary-light);
  color: #fff;
  box-shadow: 0 -3px 10px rgba(255, 255, 255, 0.1);
}
/* Animation for turning lights on */
@keyframes fadeIn {
  from {
    background-color: #222;
    color: #444;
  }
  to {
    background-color: #333;
    color: #aaa;
  }
}

@media (max-width: 768px) {
  .dashboard-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    overflow-x: visible;
  }

  .dashboard-section {
    flex: 1 0 calc(33.333% - 10px); /* This will create a 3-column layout */
    max-width: calc(33.333% - 10px);
    margin: 5px;
    padding: 8px 5px;
    font-size: 0.9rem;
  }

  .pagetitle {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .section-content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .dashboard-section {
    flex: 1 0 calc(50% - 10px); /* This will create a 2-column layout for very small screens */
    max-width: calc(50% - 10px);
    font-size: 0.8rem;
  }

  .pagetitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
